
.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img {
    text-align: center;
}
.profile-img img {
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5 {
    color: #333;
}
.profile-head h6 {
    color: #0062cc;
}
.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs {
    margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}
.profile-work {
    padding: 14%;
    margin-top: -15%;
}
.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-tab label {
    font-weight: 600;
}
.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

body {
    background-color: #f8f9fc;
    font-family: 'Arial', sans-serif;
}
.invoice-card {
    max-width: 900px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.invoice-header {
    background-color: #4e73df;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.invoice-body {
    padding: 30px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.invoice-info p {
    margin: 10px 0;
    font-size: 16px;
}
.invoice-info strong {
    color: #333;
    font-weight: 600;
}
.qr-code {
    text-align: center;
}
.qr-code img {
    width: 250px;
    height: 250px;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
.btn-pay {
    background-color: #1cc88a;
    border-color: #1cc88a;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn-pay:hover {
    background-color: #17a673;
    border-color: #17a673;
}
.alert {
    margin-bottom: 20px;
    border-radius: 5px;
}
.ktx-title {
    font-size: 30px; /* Điều chỉnh kích thước chữ */
    font-weight: bold; /* Chữ đậm */
    color: #4e73df; /* Màu xanh Bootstrap */
    text-transform: uppercase; /* Viết hoa */
    letter-spacing: 1px; /* Giãn chữ */
}
